.addLesson_wrapper{
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 15px;
  .lesson_form{
    .input_wrapper{
      display: grid;
      grid-template-columns: 25% 70%;

      gap: 1.5rem;
      margin-bottom: 2rem;
      align-items: center;
      label{
        font-size: 18px;
        color: black;
        .require{
          color: #e50f21;
        }
      }
      .lesson_input{
        border-radius: 5px;
        background-color: inherit;
        min-width: 250px;
        padding: 10px;
      }
    }
    .btn_wrapper{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;
    }
  }
}