@import "../../styles/root";
@import "../../styles/mixin";

.admin_teachers{
  .header{
    margin-bottom: 2rem;

  }
  .table_wrapper{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search_wrapper{
        border-radius: 30px;
        display: flex;
        align-items: center;
        border: 1px solid $MainColor;
        padding: 5px 10px;
        gap: 5px;
        width: 40%;
        .search_input{
          padding: 5px 10px;
          font-size: 16px;
          border: none;
          width: 100%;
        }
        .search_input:active{
          border-color: $SuccessColor;
        }
        .search_input:focus-visible{
          outline: none;
        }
      }

      .btn_add{
        @include success-btn;
        box-sizing: border-box;
        padding: 10px;
        svg{
          width: 16px;
          height: 16px;
        }
      }
    }
    .table{
      width: 100%;
      box-sizing: border-box;
      box-shadow: 1px 1px 10px;
      border-radius: 5px;
      border-collapse: collapse;
      &_header{
        text-align: left;
        opacity: 0.5;
        .table_header__cail{
          padding: 15px 10px;
        }
      }
      &_row{
        &__cail{
          padding: 15px 10px;
          .content_wrapper{
            display: flex;
            max-width: 400px;
            flex-wrap: wrap;
            gap: 10px;
            .content_info{
              padding: 10px 15px;
              border-radius: 10px;
              background-color: #d496a7;
              width: fit-content;
            }
            .btn_cail{
              border: none;
              cursor: pointer;
              svg{
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
      &_row:nth-child(even){
        background-color: #efefef;
      }
    }
  }
}